.banner {
    border-radius: 0px;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid grey;
  }

.submit-button {
    background-color:  #1C4E80;
    height: 45px;
    width: 100px;
}

.input-field {
  width: 285px;
  height: 45px;
}